


html 	{
	background-image: url("aifinalpt1.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;  
		
	}

@font-face {
			font-family: 'superstarm54';
			src: url('superstarm54.ttf');

			}
@font-face {
			font-family: 'confidel'; 
			src: url('confidel.otf');
			}
@font-face {font-family: 'verdana';}
header {
			position: fixed; /* Fixes the header at a specific position */
    top: 0; /* Aligns the header to the top of the page */
    left: 0; /* Aligns the header to the left of the page */
    width: 100%; /* Ensures the header stretches across the full width */
    height: 90px; 
z-index: 1000;
			text-indent: 0%;
			background-color: rgba(245, 245, 245, 0.3);



}

	h1 { 
    text-align: right; /* Aligns the text to the right */
    font-style: unset;
    color: #56dee8;
  margin-right: 20px;
    font-family: 'superstarm54';
  margin-top: 0px;

  font-size: 49px;
font-weight: 100;
}
h1 span {font-size: 20px;
font-style: italic;
display: block;}


.nav 
	{
		
		

   		 list-style: none;
   		 margin-bottom: auto;
   		 padding: 0;
		font-family: 'superstarm54';
	
	 	display: flex;
  		
  		
  		 position: absolute; /* Fixes the navigation at a specific position */
    bottom: 0; /* Aligns the navigation to the top of the page */
    left: 0; /* Aligns the navigation to the left of the page */
	}




.nav a {
	display: inline-block;
	padding: 5px 79px;
	text-decoration: none;
	font-weight: bold;
	font-weight: 100; 
	font-family: 'superstarm54';
	list-style-type: none
	}
.nav a:link,
.nav a:visited,
.nav a:active {color: #29178f;}
.nav a:focus,     
.nav a:hover {
        color: whitesmoke;
        background-color: #1560BD;
        }
/* Style to position the dropdown content */
.nav .dropdown {
   position: relative;
    display: inline-block;


}

/* Hide the dropdown content */
.nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 215px;
   
}

/* Style the dropdown links */
.nav .dropdown-content a {
    color: #56dee8;
    padding: 5px 0px;
    text-decoration: none;
    display: inline-block;
    text-align: left;

}

/* Change color of dropdown links on hover */
.nav .dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.nav .dropdown:hover .dropdown-content {
    display: block;
}
		

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}


h3 {
			color: #FFFFFF;
			font-family: 'confidel';
			font-size: 50px;
			font-weight: 100;
}
h3 span {font-style: italic;
	font-weight: 100;

	}
h4 {
	color: black;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	font-family: 'superstarm54';
	font-weight: 100;
}

body {	

    color: whitesmoke;
    font-size: 13px;
    display: unset;
    margin: 0;
	}
.main-content { /* Replace .main-content with the actual class or id of your main content container */

    margin-left: 120px;
    margin-right: 150px;
    padding-top: 120px;
    }
p {font-size: 19px;
font-family: 'helvetica';
font-weight: 100;
line-height: 1.5

}
p2 {font-size: 14px;
	font-family: 'helvetica';
	font-style: italic;
	font-weight: 100;
line-height: 1.5
}
section {
  	  	text-align: left;
		clear: both;
    	padding: 0px; 
		width: 100%;
		margin: auto;
		height: auto;
	}
#container {

			width: 100%;
			margin: 0 auto;
			height: 50px;
		}


.white-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusts spacing between boxes */
    align-items: flex-start; /* Aligns boxes at the start of the container */
}
.box{
		width: 275px;
		height: 50px;
		border: 4px solid black;
		padding: 0px;
		margin:0px auto
		border-radius: 15px;
		background-color: rgba(245, 245, 245, 0.3);
	font-family: 'superstarm54';

	}
.box-text-container {
    display: flex; /* Aligns items in a row */
    align-items: center; /* Centers items vertically */
    margin-bottom: 20px; /* Adds some space below each container */
}

.box-text {
    margin-left: 20px; /* Space between the box and the text */
    flex: 1; /* Allows the text to take up the remaining space */
}
.white.box {
	
	padding: 10px;
	margin: 10px;
	flex-basis: calc(35% - 20px); /* Adjust width, considering margin */
    margin: 10px; /* Space around each box */

}

.white.box h4 
{
    font-size: 40px;
    color: #56dee8;
}

.white.box:hover {
  
    background-color: rgba(245, 245, 245, 0.5); /* Slightly changes color on hover */
    cursor: pointer; /* Changes the mouse cursor to indicate it's clickable */
    color: #1560BD;

}


.blue {
			width: 248px;
			height: 500px;
			display: flex;
			flex-direction: column;
  			justify-content: flex-start;
		  font-size: 14px;
		  font-family: 'confidel';
  			margin: 20px;
  			background-color: rgba(245, 245, 245, 0.3);
  			color: #29178f;
  			padding: 7px;

		}

.lside {
		float: left;
		width: 40%;
		height: auto;
		padding: 10px 0px;
		text-align: left;
		box-sizing: border-box;
	}
.rside {
		float: left;
		width: 60%;
		height: auto;
		padding: 10px 0px;
		text-align: justify;
		box-sizing: border-box;
		font-weight: 100;

		}

.new-lside {
		float: left;
		width: 60%;
		height: auto;
		
font-weight: 100;
		}

        
.new-rside {
		float: right;
		width: 40%;
		height: auto;
		
font-weight: 100;

	
		

		}


.box-container 
		{
  		display: flex;
  		
  		flex-wrap: wrap;
  		margin: 0px auto; /* Allows boxes to wrap to next line if needed */
  		padding: 0px;
  		text-align: left;
		}
ul {
padding: 6px;
list-style-type: none}
ul li {
    font-size: 18px; 
    color: whitesmoke;
    /* Change to your preferred font size */
    font-family: helvetica;
   margin-top: 10px;
   text-align: left;

}
li a {

    color: #7DC8F7;
 
}

/* Hover state */
li a:hover {
    color: #29178f;
}
/* Active state */
ul li a:active {
    color: whitesmoke;
}



footer {
			text-align: center;
			height: auto;
			width: 100%;
			display: inline-block;
			font-size: 10px;
			margin-top: 100px;
		}
